$white: #fff;
$black: #000;
$blue: #00c;
$red: #c00;
$gray: #ccc;

// IS USED TO DISPLAY SUCCESS
$greenText: #2b6d2b;
$greenBackground: #d7ffd7;

// IS USED TO DISPLAY FAILURE
$redText: #631717;
$redBackground: #ffd1d1;

// IS USED TO DISPLAY INFO
$brownText: #614f39;
$brownBackground: #e9d5bd;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;

$borderRadiusSmall: 3px;
