$white: #fff;
$black: #000;
$blue: #00c;
$red: #c00;
$greenText: #2b6d2b;
$greenBackground: #d7ffd7;
$redText: #631717;
$redBackground: #ffd1d1;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;

$borderRadiusSmall: 3px;
