@use '../../styles/vars' as vars;
@use '../../styles/mixins' as mx;

.ideas {
  .idea {
    padding: 20px;

    border: 1px solid vars.$black;
    border-radius: 10px;

    & + .idea {
      margin-top: 20px;
    }

    .ideaLink {
      @include mx.link;
    }
  }
}
