@use '../../styles/vars' as vars;
@use '../../styles/mixins' as mx;

.alert {
  padding: 10px;
  border-radius: vars.$borderRadiusSmall;

  &.red {
    background-color: vars.$redBackground;
    color: vars.$redText;
  }

  &.green {
    background-color: vars.$greenBackground;
    color: vars.$greenText;
  }

  &.brown {
    background-color: vars.$brownBackground;
    color: vars.$brownText;
  }
}
