@use '../../../styles/vars' as vars;
@use '../../../styles/mixins' as mx;

.ideas {
  .noIdeasMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .idea {
    padding: 20px;

    border: 1px solid vars.$black;
    border-radius: 10px;

    & + .idea {
      margin-top: 20px;
    }

    .ideaLink {
      @include mx.link;
    }
  }

  .more {
    margin-top: 15px;
  }
}
