@use '../../../node_modules/include-media/dist/include-media' as mediaMx;
@use '../../styles/vars' as vars;
@use '../../styles/mixins' as mx;

$breakpoint: '<=900px';

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  @include mediaMx.media($breakpoint) {
    flex-flow: column nowrap;
  }

  .navigation {
    height: 100%;
    overflow: auto;
    flex: 0 0 200px;
    padding: 20px 30px;
    border-right: 1px solid vars.$black;
    @include mediaMx.media($breakpoint) {
      overflow: visible;
      flex: 0 0 auto;
      height: auto;
      border-right: none;
      border-bottom: 1px solid vars.$black;
    }

    .logo {
      display: flex;
      width: 100%;
      height: max-content;
      align-items: center;
      max-width: 130px;
      gap: 10px;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 5px;
    }

    .loggedAs {
      border-top: 1px solid vars.$black;
      border-bottom: 1px solid vars.$black;
      margin-bottom: 5px;
      padding: 5px 0;
    }

    .menu {
      .item {
        &:not(:first-child) {
          margin-top: 5px;
        }

        .link {
          @include mx.link;
        }
      }
    }
  }

  .content {
    height: 100%;
    overflow: auto;
    flex: 1 1 100%;
    padding: 20px 30px;
    @include mediaMx.media($breakpoint) {
      overflow: visible;
      height: auto;
    }
  }
}
