@use '../../../styles/vars' as vars;
@use '../../../styles/mixins' as mx;

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.editButton,
.blockIdea {
  margin-top: 20px;
}

.likes {
  margin-top: 10px;
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 10px;
}
